/* ==UserStyle==
@name           anilibria fix adblock
@namespace      github.com/openstyles/stylus
@version        0.0.2
==/UserStyle== */
@-moz-document domain("anilibria.tv") {
	ul.main-navigation a {
		padding: 14px 0;
	}
	.detail_torrent_info {
		height: auto !important;
	}
	.footer {
		height: 140px;
	}
}
