/* ==UserStyle==
@name           ficbook make comment great again
@namespace      github.com/openstyles/stylus
@version        0.2
==/UserStyle== */
@-moz-document domain("ficbook.net") {
    :root {
        --n1-font-size: 1.6rem;
        --t3-font-size: 1.7rem;
    }
    .comment-container .comment-date {
        font-size: 1.5rem;
    }
    .img-holder-universal.avatar-28 {
        width: 100px;
        height: 100px;
    }
}
