/* ==UserStyle==
@name           ponyfiction dark
@namespace      github.com/openstyles/stylus
@version        0.0.4
==/UserStyle== */
@-moz-document domain("ponyfiction.org") {
	body,
	.story-panel,
	#content .story-item:nth-child(2n+1), 
	.comment-item:nth-child(2n+1), 
	.comment-tree-loader:nth-child(2n+1),
	.newsitem-listitem:nth-child(2n+1),
	.notification:nth-child(2n+1) {
		background: #000;
	}
	
	.page-header,
	#slides,
	.nav-main,
	.container,
	.footer,
	.notification {
		color: rgb(245, 237, 136);
		background: rgb(35, 35, 45);
	}
	
	.breadcrumb > li {
		text-shadow: none;
	}
	
	.chapter-text {
		width: 600px !important;
		font-size: 1.4rem !important;
		line-height: 150% !important;
	}
	
	a:visited {
		color: #aaa;
	}
}
